  	
    <h3><%= t('user_mailer.new_announcement',{teacher_name:@course.user.name, course_name:@course.name})%> </h3>
    <p>
      <%= raw @announcement.announcement %>
    </p>
    <% if @course.discussion_link!=""%>
    <p>
      <%= t('user_mailer.to_contact_use') %> <%= link_to t('user_mailer.online_course_forum'), url_with_protocol(@course.discussion_link), :target => '_blank' %>
    </p>
    <% end %>
    <%= render partial: 'thank_you_footer' %>
    <%= render partial: 'footer'%>
    
