<p> <%= t('user_mailer.dear') + " " + @user.name %>,</p>
<p>
    <%=t('user_mailer.account_pseudoanonymized')%>
</p>
<p>
    <%=t('user_mailer.recover_account')%>
</p>

<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer' %>
