<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Homepage Contact Request</h3>
    <p>
      <br />
      <br />
      A question/comment was submitted by <%=@user_name%>, email: <%=@user_email%> from page: <%=Rails.configuration.frontend_host+@url%>.
      <br />
      Agent: <%= @agent %>
      <br />
      Version: <%= @version %>
    </p>
    <br />
    <p><%= @comment %></p>
  </body>
</html>