
    <p>Dear Teacher,</p>
    <p>
      A student in your course <%=@course.short_name%> reported an issue with your course.
      <br>
      <% if @course %>
        <%= "#{t('courses.course_name')}: #{@course.name}" %><br>
      <% end %>
      <% if @group %>
        <%= "#{t('groups.module_name')}: #{@group.name}" %><br>
      <% end %>
      <% if @lecture %>
        <%= "#{t('lectures.lecture_title')}: #{@lecture.name}" %><br>
      <% end %>
      <% if @quiz %>
        <%= "#{t('quizzes.quiz_title')}: #{@quiz.name}" %><br>
      <% end %>
      <br>
      <%= "#{t('user_mailer.student_comment')}:" %>
      <br>
      <%= @problem %>
      <br>
      <br>
      <%= t('user_mailer.if_you_need_help')%>
      <br>
      <%= render partial: 'thank_you_footer' %>
      <br>
      <% if @url %>
        <%= "#{t('user_mailer.technical_details')}: " %><br>
        <%= "#{t('page')}: #{Rails.configuration.frontend_host+@url}" %><br>
        <%= "#{t('agent')}: #{@agent}" %><br/>
        <%= "#{t('version')}: #{@version}" %><br/>

     <% end %>

    </p>
    <%= render partial: 'footer' %>