<div>
    <h3>Homepage Contact Request</h3>
    <p>
    <p><%= @comment %></p>
      <br />
      User name: <%=@user_name%>
      <br />
      Email: <%=@user_email%>
      <br />
      Page: <%=Rails.configuration.frontend_host+@url%>
      <br/>
      Agent: <%= @agent %>
      <br />
      Version: <%= @version %>
    </p>
    <br />
  </div>