<p>
<%= t('user_mailer.course_will_end',{course_name:@course.name})%><br>
<%= t('user_mailer.adjust_end_date') %><%=link_to "#{t('user_mailer.course_settings_page')}", Rails.configuration.frontend_host+@url_information, :target => '_blank' %>
</p>
<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer', locals: {role:"teacher"} %>