<p><%= t('user_mailer.you_have_answer',{module_name:@module.name})%></p>
<strong><%= t('user_mailer.you_asked')%></strong>

<div style="color:#676363"><%= @post.content.html_safe %></div>
<br />
<strong><%= @comment_owner.screen_name%> <%=t('user_mailer.responded')%></strong>

<div style="color:#676363"><%= @comment.content.html_safe %></div>
<p><%= t('user_mailer.reply_to_comment')%> <%= link_to t('user_mailer.here'), Rails.configuration.frontend_host+@url, :target => '_blank' %></p>

<%= render partial: 'footer', locals: {role:"student"} %>
