<p><%= t('user_mailer.response_to_your_answer', {survey_name: @survey, course_name: @course.name}) %></p>
<p><%= t('user_mailer.question') %> <b><%= @question %></b></p>
<p><%= t('user_mailer.your_answer') %> <b><%= @answer %></b>.<br/>
<p><%= t('user_mailer.teacher_responded') %>:</p>
<p><b><%= @response %></b></p>

<p><%= t('user_mailer.surveys_anonymous') %></p>

<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer', locals: {role:"student"} %>