<p><%=t('user_mailer.you_have_question')%></p>
<p><%=t('user_mailer.student') %> <%=@post_owner.screen_name%> </p>
<p><%=t('user_mailer.lecture') %> <%=@lecture.name%></p>
<p><%=t('user_mailer.question') %> <b><%=@post.content.html_safe%></b></p>

<p><%=t('user_mailer.reply_to_question') %> <%= link_to t('user_mailer.here'), $frontend_host+@url, :target => '_blank' %></p>

<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer', locals: {role:"teacher"} %>
