<p><%= t('user_mailer.technical_problem')%>: <%=  @problem_type %></p>
<p><b><%= @problem %></b></p>

<%= "#{t('name')}: #{@user_name}" %><br>
<%= "#{t('email')}: #{@user_email}" %><br>

<% if @course %>
  <%= "#{t('courses.course_name')}: #{@course.name}" %><br>
<% end %>
<% if @group %>
  <%= "#{t('groups.module_name')}: #{@group.name}" %><br>
<% end %>
<% if @lecture %>
  <%= "#{t('lectures.lecture_title')}: #{@lecture.name}" %><br>
<% end %>
<% if @quiz %>
  <%= "#{t('quizzes.quiz_title')}: #{@quiz.name}" %><br/>
<% end %>
<%= "#{t('page')}: #{$frontend_host+@url}" %><br/>
<%= "#{t('agent')}: #{@agent}" %><br/>
<%= "#{t('version')}: #{@version}" %><br/>