<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
        font-family:'Helvetica Neue','Helvetica','Roboto',Arial,'sans-serif';
      }
    </style>
  </head>

  <body>
    <div style=" padding-top:50px; width:100%;height:100%">
      <table style="margin:0 auto; width:60%;">
        <tr>
          <td >
          <div style="margin:0 auto; width:400px;">
            <%= image_tag "/assets/images/logo_banner.jpg", :size=> "400x65" %>
          </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="box-shadow: 0 2px 2px 2px #88888861; padding: 20px; border-top:4px solid green" >
				
				<p><%=t("mailer.thanks_sign_up")%> scalable-learning.com. <%= t("mailer.click_here_confirm")%></p>
		
				<p><%= link_to nil, confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
				
				<p><%=t("mailer.we_recommend_use")%> Google's <a href="http://www.google.com/chrome">Chrome</a> <%=t("mailer.browser_for_best_experience")%>.</p>
				
				<p><%=t("mailer.contact_us")%></p>

				<div>Cheers,</div>
				<div>-The <strong>Scalable</strong><span style="color:green">Learning </span>team</div>


				<center style="font-size:80%;border-top: 1px solid lightgray;padding-top: 15px;margin-top:15px; color: #636567;">
					<div><%=t('user_mailer.you_are_recieving_mail')=%></div>
					
					<%= mail_to "support@scalable-learning.com","support@scalable-learning.com",{:style=>'color:#636567'}%> - 
					<%= link_to t('user_mailer.privacy'), Rails.configuration.frontend_host+"privacy", {:style=>'color:#636567', :target=> '_blank'} %><br>
					<span>© 2018 ScalableLearning – RISE SICS AB, Box 1264, SE-164 29 Kista, Sweden</span>
				</center>
									
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
